* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  background-color: #000000;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  opacity: 0;
}

.game-loading,
.game-start,
.game-setting,
.game-over,
.game-scoreboard,
.game-play,
.game-record {
  position: absolute;
  color: #ffffff;
  opacity: 0;
}

.game-loading {
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: #000000;
}

.loading-bar {
  width: 300px;
  height: 2px;
  margin-top: 10px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.5s;
  will-change: transform;
}

.game-start {
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-title {
  text-transform: uppercase;
}

.nickname-input {
  width: 160px;
  height: 64px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #9499c3;
  border-radius: 6px;
  background-color: #000;
  color: #ffffff;
  outline: none;
}

.start-button {
  cursor: pointer;
  width: 160px;
  height: 64px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  color: #000;
  background-color: #ffffff;
}

.input-error {
  font-size: 18px;
  color: #ff0000;
}

.game-start-button:hover {
  color: #ffffff;
  background-color: #0070f3;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
}

.game-setting {
  bottom: 0px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.game-record {
  top: 10px;
  right: 20px;
  font-size: 20px;
  opacity: 1;
}

.hidden {
  display: none;
}
